#idSelector{
    margin-top:150px;
    margin-left:450px;
}

#loading{
margin-top:10px;
margin-left: 140px;
}
#submitButton{
/* margin-top:30px; */
padding :5px;
margin-left: 30px;

}
#display{
 margin-left:200px;
}