<app-header></app-header>
<section id="findUsername" [style.display]="getUser">
    <div class="card" id="anime" >
        <div class="shadow p-3 mb-0 bg-body rounded">
            <form (submit)="findUser()">
                  <div id="terminate" (click)="terminate()">
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div id="title">
                     <h5><i>Enter mobile number</i></h5><br>
                  </div>
                   <hr>
                   <div class="input-group mb-3">
                        <input type="number" class="form-control" name="mobile" id="mobile" [(ngModel)]="mobile" placeholder="enter mobile number" aria-label="enter mobile number" aria-describedby="button-addon2" required>
                  </div>
                  <div class="modal-footer" id="userButtons">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-button" (click)="terminate()" style="display:block;">Close</button>
                      <div id="user-submit" style="display:block;">
                           <button type="submit" class="btn btn-primary">find</button>
                      </div>
                      <div id="user-loading" style="display:none;">
                        <img src="a2dc9668f2cf170fe3efeb263128b0e7.gif" style=" width:20%;">
                      </div>    
                  </div>
                  <div>
                    <span id="nouser"></span>
                  </div>
                  </form>
             </div> 
        </div>
    </section>

    <section id="confirmName" [style.display]="verifyUser">
        <div class="card" id="anime" >
            <div class="shadow p-3 mb-0 bg-body rounded">

                <div id="terminate" (click)="terminate()">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="title">
                    <h5><i>Verify User</i></h5><br>
                </div>
                <hr>
                <div>
                    <h5 id="username"><i><b>{{name}}</b></i></h5>
                </div>
                <div class="modal-footer" id="userButtons">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-button" (click)="proceed()" style="display:block;">Proceed</button>
                    <button type="button" class="btn btn-primary" (click)="terminate()">change Number</button> 
                </div>
                      
            </div> 
        </div>
    </section>



    <section id="verifyAndPay" [style.display]="getAmount">
        <div class="card" id="anime" >
            <div class="shadow p-3 mb-0 bg-body rounded">
                <form (submit)="verifyAmount()">
                      <div id="terminate" (click)="terminate()">
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div id="title">
                         <h5><i>Enter amount</i></h5><br>
                      </div>
                       <hr>
                       <div class="input-group mb-3">
                            <input type="number" class="form-control" name="amount" id="amount" [(ngModel)]="amount" placeholder="enter amount" aria-label="enter mobile number" aria-describedby="button-addon2" required>
                      </div>
                      <div class="modal-footer" id="userButtons">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="pay-close" (click)="terminate()" style="display:block;">Close</button>
                          <div id="pay-submit" style="display:block;">
                               <button type="submit" class="btn btn-primary">pay</button>
                          </div>   
                      </div>
                      <div>
                        <span id="validAmount"></span>
                      </div>
                      </form>
                 </div> 
            </div>
        </section>


        <section id="getTpin" [style.display]="getTpin">
            <div class="card" id="anime" >
                <div class="shadow p-3 mb-0 bg-body rounded">
                    <form (submit)="verifyTpin()">
                          <div id="terminate" (click)="terminate()">
                             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div id="title">
                             <h5><i>Enter transaction pin</i></h5><br>
                          </div>
                           <hr>
                           <div class="input-group mb-3">
                                <input type="number" class="form-control" id="tpin" name="tpin" [(ngModel)]="tpin" required placeholder="Enter transaction pin" aria-label="enter mobile number" aria-describedby="button-addon2" required>
                          </div>
                          <div class="modal-footer" id="userButtons">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-button" (click)="terminate()" style="display:block;">Close</button>
                              <div id="pin-submit" style="display:block;">
                                   <button type="submit" class="btn btn-primary">pay</button>
                              </div>
                              <div id="pin-loading" style="display:none;">
                                <img src="a2dc9668f2cf170fe3efeb263128b0e7.gif" style=" width:20%;">
                              </div>    
                          </div>
                          <div>
                            <span id="pinValid"></span>
                          </div>
                        </form>
                     </div> 
                    </div>
                
            </section>

