<app-header></app-header>
<section id="getTicket">
  <div class="card" style="width:40%">
    <div  class="shadow p-3 mb-0 bg-body rounded">
        <form (submit)="insertTicket()">
            <div id="title">
                <h5 style="margin-top:10px;text-align: center;"><i>Enter your issue</i></h5>
            </div>
            <hr>
            <div>
                <input type="text" name="ticket" id="ticket" placeholder="enter your query" [(ngModel)]="query" required style="width:100%">
            </div>
            <hr>
            <div class="row">
                <div class="col-4">
                    <div [style.display]="loading"> 
                      <img src="assets/tenor_1.gif" style="width:15%;margin-left:190px;margin-top: 8px;">
                    </div>
               </div>
               <div class="col-8" id="submitButton">
                   <button type="submit" class="btn btn-secondary" style="margin-left:40px;"name="submit" id="submit">send</button>
               </div>
            </div>  
            <!-- <div style="margin-left:225px;padding-bottom: 10px;" >
               
            </div> -->
        </form>
    </div>
  </div>
</section>

