<app-header></app-header>
<section class="login" >
    <div class="card">        
        <img src="" width="100%" length="5%">
        <form (submit)="validation()" method="post">
            <div id="emailInput">
                <input type="email" name="email" id="email" [(ngModel)]="email"
                placeholder="Enter your email" required><span id="emailError"></span>
            </div>
            <div id="passwordInput">
                <input type="password" name="password" id="password" [(ngModel)]="password"
                placeholder="Enter password" required><span id="passwordError"></span>
            </div>
            <div id="loading" style="display:none;">
                <img src="a2dc9668f2cf170fe3efeb263128b0e7.gif" style=" width:15%;">
            </div>
            <div id="formsubmit" style="display:block;">
                <span id="msg"></span> 
                <button type="submit" name="submit" id="submit">LOGIN</button>
            </div>
            <div>
                <a href="forgotPassword.html" style="margin-left:130px;">forgot password</a>
            </div>
            <span id="result"></span>                                    
        </form>
    </div>
</section>


