<section id="transactionDetails" *ngIf="tickets">
    <div class="accordion accordion-flush" id="display" style="width:70%" *ngFor="let ticket of tickets;let i=index">
      <div class="accordion-item">
        <div class="shadow p-3 mb-0 bg-body rounded">
          <h5 class="accordion-header" [id]="'heading'+i">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapse'+i" aria-expanded="false" 
            [attr.aria-controls]="'flush-collapse'+i" style="text-align:center;">
            {{ticket.myQuery}}
            </button>
          </h5>
        </div>
          <div [id]="'flush-collapse'+i" class="accordion-collapse collapse" [attr.aria-labelledby]="'flush-heading'+i" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body"> <h5>Ticket id :<i>{{ticket.ticketId}}</i>  created on : <i>{{ticket.createdOn}} </i> status :  <i> {{ticket.ticketStatus}}</i></h5></div>
          </div>
      </div> 
    </div>
  </section>