
<section class="registration" id="registrationDetails" [style.display]="verified">
  <form ngNativeValidation (submit)="registerValidation()" id="regForm" >
        <div class="card-reg" style="background-color:black;">
        <div>
            <input type="text" name="name" id="name" [(ngModel)]="name" style="background-color:;" placeholder="Enter name" required autofocus>
        </div>
       <hr>
        <div>
            <input type="text" name="username" id="username" [(ngModel)]="userName" style="background-color:;" placeholder="Enter username" required autofocus>
        </div>
        <hr>
        <div>
            <input type="tel" name="mobile" id="mobile" placeholder="Enter mobile" style="background-color: ;" [(ngModel)]="userMobileNumber" required autofocus>
        </div>
        <hr>
        <div>
            <input type="text" name="age" id="age" placeholder="Enter age" style="background-color:;" [(ngModel)]="age" required autofocus>
        </div>
        <hr>
        <div>
            <input type="email" name="email" id="email" placeholder="Enter email" style="background-color:;" [(ngModel)]="userEmail" required autofocus>
        </div>
        <hr>
        <div>
            <input type="text" name="password" id="password" placeholder="Enter password" style="background-color: ;" [(ngModel)]="userPassword" required autofocus>
        </div>
        <span id="result-ver"></span>
       
        </div>
  </form>
</section>
<section id="hostelCheck" [style.display]="inserted">
    <div class="card-h">
      <form ngNativeValidation (submit)="hostelOrDayscholar()">
            <div id="yearOfStudy">
              <select class="form-select" aria-label="Default select example" name="yearOfStudy" id="year" [(ngModel)]="yearOfStudy">
                  <option selected>Year</option>
                  <option value="1">1st year</option>
                  <option value="2">2nd year</option>
                  <option value="3">3rd year </option>
                  <option value="4">4th year</option>
                 
                  </select>
              </div> 
              <hr>
              <div>
              <select class="form-select" name="branch" [(ngModel)]="branch">
                  
                  <option value="CSE">Computer science engineering</option>
                  <option value="EEE">Electrical and electronics engineering</option>
                   <option value="ECE">Electrical and communication engineering</option>
                   <option value="MECH">Mechanical engineering</option>
                    <option value="CIVIL">Civil engineering</option>
              </select>
              </div>
              <hr>
              <div>
             
                <select class="form-select" aria-label="Default select example" name="hOrD"  id="hOrD" [(ngModel)]="hOrD">
                      <option selected>Hostel or Dayscholar</option>
                      <option value="H">Hosteller</option>
                      <option value="D">DayScholar</option>
                  </select>
              </div>
              <div id="buscheck" *ngIf="hOrD=='D'">
                      <label for="bus">Need Bus</label>
                       <select class="form-select" aria-label="Default select example"  name="bus" id="bus" [(ngModel)]="needBus">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
              </div>
              <span id="result-reg"></span>
              <div class="row">
                <div class="col-4">
                    <div [style.display]="loading2"> 
                      <img src="assets/tenor_1.gif" style="width:30%;margin-left:80px;margin-top: px;">
                    </div>
               </div>
               <div class="col-8" id="hostel-sub">
                <button type="submit" id="sub" style="margin-left:10px;margin-top:5px;" name="sub">Finish</button>
               </div>
            </div>
            </form>
      </div>
  
  </section>
  <section id="wallet" [style.display]="registered">
    <div class=card-wal>
       <h4><i>wallet created successfully!!</i></h4> 
       <h5><i>please set transaction pin</i></h5>
       <hr>
       <form ngNativeValidation (submit)="setWallet()">
                <div class="input-group mb-3">
                   <input type="number" class="form-control" id="tpin" [(ngModel)]="tpin" name="tpin" placeholder="Enter transction pin" aria-label="Enter transction pin" aria-describedby="button-addon2" required>
                </div>
             <hr>
             <div class="row">
                <div class="col-4">
                    <div [style.display]="loading3"> 
                      <img src="assets/tenor_1.gif" style="width:20%;margin-left:400px;margin-top: 10px;">
                    </div>
               </div>
               <div class="col-8" id="wal-submit">
                <button type="submit" style="margin-left:270px" class="btn btn-primary" name="submit-wal" id="submit-wal">Set</button>
               </div>
            </div>
       </form>
    </div>
   </section>